.btn {
    padding: 1.4rem 3.2rem;
    border-radius: 0.4rem;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
    transition: .4s ease;
    text-transform: uppercase;
}

.btn:hover {
    opacity: 0.9;
}