header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.header__nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__nav li {
    padding: 15px;
}

.header__nav a {
    font-weight: 500;
    line-height: 24px;
    padding: inherit;
    transition: .4s ease;
    border-radius: 8px;
}

.header__nav a:hover {
    background: rgba(252, 179, 157, 0.8);
}