@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap');

/* Global configs */
:root {
    --red: #CD3C32;
    --pink: #FFE9E8;
    --pink-dark: #FFD5D3;
    --white: #F9F9F9;
    --black: #121214;

    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--pink);
    color: var(--black);
    font-size: 1.6rem;
}

h2 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.8rem;
}

h3 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
}

h4 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
}

ul {
    list-style-type: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

.container {
    max-width: 122rem;
    padding: 0 1.8rem;
    margin: 0 auto;
}

/* Media query global titles */
@media (max-width: 992px) {
    h2, span {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    h3 {
        font-size: 1.8rem;
        line-height: 3.6rem;
    }

    h4 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    p {
        font-size: 1.7rem !important;
    }


}

/* Section Hero */
.hero {
    height: 60vh;
}

.hero .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__logo {
    margin-bottom: 3.2rem;
}

.hero__title span {
    color: var(--red);
}

.hero__info {
    max-width: 59rem;
    padding: 0 1rem;
}

.hero__info,
.hero__image {
    margin-bottom: 8rem;
}

.hero__text {
    margin: 2.5rem 0 4rem 0;
}

.hero__text p {
    line-height: 3rem;
    font-size: 1.9rem;
}

.hero__image {
    padding: 0 1rem;
}

/* Section countdown */
#countdown {
    background-color: var(--white);
}

#countdown .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding: 8rem 1.8rem 8rem 1.8rem;
}

.countdown__title {
    max-width: 47.7rem;
    text-align: center;
}

.countdown__title p {
    margin-top: 2.4rem;
    line-height: 3rem;
    font-size: 1.9rem;
}

.countdown__content {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 7rem;
    color: var(--red);
}

/* Section Donation */
#donation {
    background-color: var(--white);
}

#donation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9rem 1.8rem;
}

.donation__content {
    max-width: 48.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6rem;
}

.donation__content p {
    line-height: 3rem;
    font-size: 1.9rem;
}

/* Media query */
@media (max-width: 992px) {
    .hero {
        height: 80vh;
    }

    .hero .container,
    #donation .container {
        flex-direction: column;
        justify-content: center;
    }

    #donation .container {
        padding: 6rem 1.8rem;
    }

    .hero__info,
    .donation__content {
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .hero {
        height: 90vh;
    }

    .hero__logo {
        margin-top: 5rem;
    }

    .hero__info,
    .donation__content {
        text-align: center;
    }
    
    .hero__btn,
    .donation__btn {
        width: 100%;
    }

    .hero__btn .btn,
    .donation__btn .btn {
        width: inherit;
    }

    .countdown__content {
        display: flex;
        justify-content: center;
    }

    #donation {
        border-top: 0.2rem solid var(--pink);
    }

    .donation__image {
        margin-bottom: 5rem;
    }

    span {
        text-align: center;
    }
}

